* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: rgb(188,57,210);
  background: linear-gradient(234deg, rgba(188,57,210,1) 0%, rgba(100,100,255,1) 100%, rgba(145,162,255,1) 100%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}